.page-background {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.container {
    width: 1060px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
}

.header {
    margin: 50px 0;
}

.header-logo {
    float: left;
}

.header-logo img{
    padding-right: 8px;
    float: left;
}

.header-logo:hover img{
    content: url("../img/logo(orange).png");
}

.header-logo:hover a{
    color: #f26522;
}

.text-bigger {
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    margin-top: 7px;
}

.text-smaller {
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

.header-contacts {
    float: right;
}

.header-contacts-text {
    color:  #fff;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.gallery-item {
    text-align: center;
    float: left;
    margin-right: 63px;
    position: relative;
    width: 311px;
    margin-bottom: 58px;
}

.gallery-item:nth-child(3n) {
    margin-right: 0;
}

.gallery-item:hover a{
    color: #f26522;
}

.gallery-img{
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fff 0%, transparent);
    border-image-slice: 1;
    text-align: center;
}

.gallery-text {
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    float: bottom;
    display: inline-block;
    margin-top: 18px;
}

.tour-info {
    color: #ffffff;
    opacity: 0;
    position: absolute;
    bottom: 42px;
    background-color: #f26522;
    width: 100%;
    height: 28%;
}

.tour-info-price {
    color:  #ffffff;
    font-size: 28px;
    font-weight: 400;
    line-height: 21px;
}

.tour-info-from {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.info-vert-center {
    display: inline-block;
    margin-top: 10px;
}

.view-details {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: inline-block;
    margin-left: 56px;
}

.view-details a:after {
    content: '';
    display: inline-block;
    border: 5px solid transparent;
    border-left-color: white;
    margin-left: 20px;
}

.gallery-item:hover .tour-info{
    display: block;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    /*bottom: 40px;*/
}

.footer {
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin: 20px 0;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}